@model IEnumerable<University_DATA_EF.Student>

@{
    ViewBag.Title = "Students";
}


<p style="margin-bottom: 10px;">
    @Html.ActionLink("Create New", "Create", "Students", new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered" style="background-color: gray; color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentStatus.SSName)
            </th>

            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.PhotoUrl)*@
                    <a href="@Url.Action("Details", new { id = item.SSID })" title="@item.FullName">
                        @if (item.PhotoUrl != null)
                        {
                            <img src="~/Content/studentImages/@item.PhotoUrl" alt="@item.FullName" style="width: 67px" />
                        }
                        else
                        {
                            <img src="~/Content/studentImages/studentImageDefault.jpg" alt="Default Student" style="width: 67px" />
                        }
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentStatus.SSName)
                </td>
                @if (User.IsInRole("Admin"))
                {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId }, new { @class = "btn btn-info" }) |

                    @if (item.SSID == 2)
                    {
                        @Html.ActionLink("Withdraw", "Delete", new { id = item.StudentId }, new { @class = "btn btn-danger" })
                    }
                    else if (item.SSID == 3)
                    {
                        @Html.ActionLink("Enroll", "Delete", new { id = item.StudentId }, new { @class = "btn btn-success" })
                    }
                    else
                    {
                            <span class="text-danger">Attending Classes</span>
                    }

                </td>
                }

            </tr>
        }
    </tbody>

</table>
