@model University_DATA_EF.ScheduledClass

@{
    ViewBag.Title = "Scheduled Class Details";
}

<h2 style="color: white">Details</h2>

<div>
    <h4 style="color: white">ScheduledClass</h4>
    <hr />
    <dl class="dl-horizontal" style="color: white">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchduledClassStatus.SCSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchduledClassStatus.SCSName)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduledClassId })
    }

    @Html.ActionLink("Back to Scheduled Classes", "Index")
</p>
